---
import BaseLayout from '#/layouts/BaseLayout.astro'
import { SupportSection } from '#/components/support-section'
import {
  getLangStaticPaths,
  getMessages,
  localizedPath,
  resolveLocale,
} from '#/lib/i18n'

export function getStaticPaths() {
  return getLangStaticPaths()
}

const locale = resolveLocale(Astro.params.lang)
const messages = getMessages(locale)
const bgImage = '/hero-support.jpg'
---

<BaseLayout
  locale={locale}
  title={messages.support.pageTitle}
  description={messages.support.pageDescription}
  canonicalPath={localizedPath('/support', locale)}
>
  <main class="relative isolate min-h-screen">
    <div
      class="absolute inset-0 -z-20 bg-cover bg-fixed bg-center"
      style={`background-image: url(${bgImage})`}
    >
    </div>
    <div class="absolute inset-0 -z-10 bg-[#0C381E]/75 mix-blend-multiply">
    </div>
    <div
      class="absolute inset-x-0 top-0 -z-10 h-[50vh] bg-linear-to-b from-[#0C381E]/60 to-transparent"
    >
    </div>

    <div class="relative z-10 w-full">
      <SupportSection
        client:load
        titleLine1={messages.support.titleLine1}
        titleLine2={messages.support.titleLine2}
        description={messages.support.description}
        embedPlaceholder={messages.support.embedPlaceholder}
      />
    </div>
  </main>
</BaseLayout>
